<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recetario">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gorro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gorro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditarReceta"></activity>
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/Registro_name"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />

            <intent-filter>
                <action android:name="android.intent.action.REGISTRO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MisRecetas"
            android:label="@string/MisRecetas_name"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />

            <intent-filter>
                <action android:name="android.intent.action.MISRECETAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recetas"
            android:label="@string/Recetas_name"
            android:parentActivityName=".MisRecetas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MisRecetas" />

            <intent-filter>
                <action android:name="android.intent.action.RECETAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MiReceta" />
        <activity android:name=".NuevaReceta" />
    </application>

</manifest>